.str-video.light {
  --str-video__background-color: #ffffff;
  --str-video__text-color1: #111111;
  --str-video__text-color2: #333333;
  --str-video__primary-color: #2563eb; /* blue */
  --str-video__border-color: #e5e7eb;
}
